node_modules/
/public
/target
docs/.vitepress/dist/
docs/.vitepress/cache/
#some local files
*/.settings/
*/.DS_Store
*/.idea/
.idea/
gradlew
gradlew.bat
unused.txt

 IntelliJ IDEA Project files
.idea
*.iml
*.ipr
*.iws
out
  
# Eclipse Project files
.classpath
.project
.settings/
  
bin/
gen/
local.properties
  
.DS_Store
Thumbs.db
  
*.bak
*.tem
*.temp

.vscode/
.vscode-test/
.vscode-insiders/
.vscode-exploration/
.vscode-remote/
.vscode-web/
.vscode-test-web/
.vscode-test-exploration/
.vscode-test-insiders/
.vscode-test-stable/
.vscode-insiders-test/